{% extends 'base.html.twig' %}

{% block title %}NEWBOARD{% endblock %}

{% block body %}

<header class="container-fluid">
    <h1>Salut {{ msg_bienvenue }}! ✅</h1>

</header>

</div>
{% endblock %}
