{% extends 'base.html.twig' %}

{% block title %}ImageCommunityManager index{% endblock %}

{% block body %}
    <h1>ImageCommunityManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_community_manager in image_community_managers %}
            <tr>
                <td>{{ image_community_manager.id }}</td>
                <td>
                    <a href="{{ path('app_image_community_manager_show', {'id': image_community_manager.id}) }}">show</a>
                    <a href="{{ path('app_image_community_manager_edit', {'id': image_community_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_community_manager_new') }}">Create new</a>
{% endblock %}
