{% extends 'base.html.twig' %}

{% block title %}New ImageCommunityManager{% endblock %}

{% block body %}
    <h1>Create new ImageCommunityManager</h1>

    {{ include('image_community_manager/_form.html.twig') }}

    <a href="{{ path('app_image_community_manager_index') }}">back to list</a>
{% endblock %}
