{% extends 'base.html.twig' %}

{% block title %}New MessageCommunityManager{% endblock %}

{% block body %}
    <h1>Create new MessageCommunityManager</h1>

    {{ include('message_community_manager/_form.html.twig') }}

    <a href="{{ path('app_message_community_manager_index') }}">back to list</a>
{% endblock %}
